:root {
  font-family: system-ui;
  --text: white;
  --bg-dark: hsl(0, 0%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--bg-dark);
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

input {
  outline: none;
  height: 100%;
}

.title {
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  height: 25px;
}

.element {
  display: flex;
  align-items: center;
  gap: 5px;
}
