:root {
  font-family: system-ui;
  --text: hsl(0, 0%, 90%);
  --text-light: white;
  --bg-dark: hsl(0, 0%, 4%);
  --bg-lighter: hsl(0, 0%, 15%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--bg-dark);
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

input {
  outline: none;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--bg-lighter);
  padding-left: 5px;
}

button {
  border: none;
  border-radius: 5px;
  width: 70px;
  color: var(--text);
  background-color: var(--bg-lighter);
}

.title {
  color: var(--text-light);
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 1rem;
  height: 25px;
}

.element {
  display: flex;
  align-items: center;
  gap: 5px;
}
