:root {
  font-family: system-ui;
  --text: hsl(0, 0%, 90%);
  --text-light: white;
  --bg-dark: hsl(0, 0%, 4%);
  --bg-lighter: hsl(0, 0%, 15%);
  --bg-light: hsl(0, 0%, 20%);
  --bg-lighter-hover: hsl(0, 0%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--bg-dark);
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

input {
  outline: none;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--bg-lighter);
  padding-left: 5px;
}

button {
  border: none;
  border-radius: 5px;
  width: 70px;
  color: var(--text);
  background-color: var(--bg-lighter);
}

button:hover {
  background-color: var(--bg-lighter-hover);
  transition: background-color 150ms ease;
}

.title {
  color: var(--text-light);
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 1rem;
  height: 25px;
}

.element {
  display: flex;
  align-items: center;
  gap: 5px;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-spacing: 0;
}

thead {
  font-weight: bold;
}

td {
  text-align: center;
}

th,
td {
  border: 1px solid var(--bg-light);
  padding: 5px 0 5px 0;
  font-weight: inherit;
}

.title {
  width: 40%;
}

.author {
  width: 30%;
}

.pages,
.read {
  width: 15%;
}

.invisible {
  border: none;
  width: 70px;
}

.remove {
  color: red;
  width: 70px;
  height: 25px;
  margin-left: 10px;
}
